{% extends 'admin/admin.html.twig' %}

{% block title 'galerie : ' ~ galerie.name %}

{% block body %}
<div class="container">
    <h1>{{ galerie.name }}</h1>

    <img src="{{ vich_uploader_asset(galerie, 'image') }}" alt="">

    {{ form(addForm) }}
</div>    
{% endblock %}